<div class="container">
    <div class="input-container">
        <input type="text" [(ngModel)]="title" placeholder="Enter title">
        <input type="text" [(ngModel)]="desc" placeholder="Enter description">
        <p class="error" *ngIf="notext">No Text</p>
        <button class="rounded-button" (click)="submit()">Submit</button>
   <!-- <p>  {{title}} </p> -->
   <!-- <p>{{list[2].title}}</p> -->
   <app-items *ngFor="let element of list" [item]="element" (buttonClick)="onDelete($event)"></app-items>
</div>