
<div class="block">
    <div class="item-container">
        <div class="delete-button-container">
            <button (click)="delete(item.count)" class="delete-button"><span class="material-symbols-outlined">
                delete
                </span></button>
        </div>
        <p class="title"> {{item.count}}. </p>
        <div class="text-container">
            <p class="title">{{item.title}}</p>
            <p class="description"> {{item.description}} </p>
        </div>
        
    </div>
    
</div>